name: Deploy_Azure_IaC_Backends

# Triggers
on:
  # push:
  #   branches:
  #     - main # Trigger the workflow on commits to the main branch.
  #   paths:
  #     - 'deployments/mgt-platform-lz/**' # Trigger for changes in the deployment directory.
  #     - 'modules/plz**' # Trigger for changes in the modules directory only.
  # pull_request:
  #   branches:
  #     - main # Trigger the workflow on pull requests to the main branch.
  #   paths:
  #     - 'deployments/mgt-platform-lz/**' # Trigger for changes in the deployment directory.
  #     - 'modules/plz**' # Trigger for changes in the PLZ modules directory only.
  workflow_dispatch: # Manual run.
    inputs:
      action:
        description: 'Deployment Type'
        required: true
        default: 'Plan'
        type: choice
        options:
          - 'Plan'
          - 'Plan-Apply'
          - 'Destroy'

permissions:
  id-token: write # required for OIDC
  contents: read # required for checkout

# Jobs
jobs:
  terraform:
    name: "Terraform Deployment (Azure OIDC)"
    runs-on: ubuntu-latest # Use the latest Ubuntu runner.

    env: # Set environment variables for runner.
      # Repo:
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }} # Use GitHub Secrets for sensitive data.
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }} # Service Principal Client ID
      ARM_USE_OIDC: ${{ secrets.ARM_USE_OIDC }} # Use OIDC for authentication
      ARM_SUBSCRIPTION_ID_IAC: ${{ secrets.ARM_SUBSCRIPTION_ID_IAC }} # Azure Subscription for Iac backends.
      # Terraform Backend:
      TF_BACKEND_RG_NAME: ${{ vars.ARM_IAC_BACKEND_RG }} # IaC Core: Resource Group
      TF_BACKEND_SA_NAME: ${{ vars.ARM_IAC_BACKEND_SA }} # IaC Core: Storage Account
      TF_BACKEND_CN_NAME: ${{ vars.ARM_IAC_BACKEND_CN }} # IaC Core: Container
      CONFIG_DIRECTORY: "./environments/azure/iac-backends" # Directory containing Terraform configuration files.
      TFSTATE_FILE: "azure-mgt-iac-core.tfstate"

    defaults:
      run:
        working-directory: ${{ env.CONFIG_DIRECTORY }}

    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v4

      - name: "Terraform: Setup"
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.1

      - name: "Terraform: Initialize"
        run: |
          terraform init -backend-config="subscription_id=$ARM_SUBSCRIPTION_ID_IAC" \
          -backend-config="resource_group_name=$TF_BACKEND_RG_NAME" \
          -backend-config="storage_account_name=$TF_BACKEND_SA_NAME" \
          -backend-config="container_name=$TF_BACKEND_CN_NAME" \
          -backend-config="key=$TFSTATE_FILE"

      - name: "Terraform: Plan"
        if: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs.action == 'Plan' || github.event.inputs.action == 'Plan-Apply'}}
        run: |
          terraform plan -out=tfplan \
          -var="tenant_id=$ARM_TENANT_ID" \
          -var="subscription_id_iac=$ARM_SUBSCRIPTION_ID_IAC" \
          -var="iac_sa_rg=$TF_BACKEND_RG_NAME" \
          -var="iac_sa_name=$TF_BACKEND_SA_NAME"

      - name: "Terraform: Apply"
        if: ${{ github.event.inputs.action == 'Plan-Apply' }}
        run: |
          terraform apply --auto-approve -input=false tfplan

      - name: "Terraform: Destroy"
        if: ${{ github.event.inputs.action == 'Destroy' }}
        run: |
          terraform destroy --auto-approve \
          -var="tenant_id=$ARM_TENANT_ID" \
          -var="subscription_id_iac=$ARM_SUBSCRIPTION_ID_IAC" \
          -var="iac_sa_rg=$TF_BACKEND_RG_NAME" \
          -var="iac_sa_name=$TF_BACKEND_SA_NAME"
